body {
    background: #19191C;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.btn:focus {
    outline: none;
}

/* rounding off the edges of btn class that are default */
.btn.round {
    border-radius: 26px;
    text-transform: uppercase;
    height: 4em;
    letter-spacing: 2px;
}

/* getting rid of any default text decorations and hovers for links*/
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}

.modal-content {
    background-color: #19191C;
}

/******** Sign Up Section ********/

#sign-up-section {
    /* section's height needs to be the same as our vader image */
    height: 480px;
    background-color: black;
}


/*actual image dimensions are 1600 x 2400 */
#vader-pic {
    /* image dimensions are 30% of original picture*/
    height: 480px;
    width: 720px;

    float: right;
    display: inline-block;
    position: absolute;
}

#form-container {
    display: inline-block;
    width: 400px;
    margin-left: 150px;
    margin-top: 75px;
}

#campaign-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;

    width: 100%;
}

#sign-up-form, #thank-you {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#sign-up-form button {
    width: 100%;
}

#thank-you {
    width: 85%;
    display: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/******** About Darth Section ********/

#learn-more-section {
    padding-top: 2em;
    background-color: #19191C;
    padding-bottom: 4em;
}

#learn-more-text {
    width: 66%;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
    letter-spacing: 1px;
}

.learn-more-heading {
    text-transform: uppercase;
    text-align: center;
}

#learn-more-subhead {
    letter-spacing: 3px;
}

#learn-more-btn {
    background-color: #19191C;
    color: white;
    border: 1px solid red;
    width: 350px;


    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

#navigation-links {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

#social-media-links a {
    margin: 0.5em;
}

.fa-facebook:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    /* this is the Facebook hex color */
    color: #3b5998;
}

.fa-twitter:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    /* this is the Twitter hex color */
    color: #55acee;
}

#learn-more-btn:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: black;
    background-color: red;
}

#paid-for-message {
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid #434345;
    color: #434345;
    width: 300px;
    font-size: 0.75em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}